body {
  overflow-x: hidden;
}

#google-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 50px;
  margin: -70px 5px;
  padding: 1px auto;
  background-color: white;
}

#logo {
  height: 30px;
  margin: 10px 0px -10px 10px;
}

#search-box {
  width: 700px;
  height: 30px;
  border: 1px solid #bec4ca;
  border-radius: 30px;
  margin: 20px;
}

#apps {
  width: 30px;
  height: 30px;
  border: none;
  background: white;
}

#bento {
  width: 25px;
  height: 25px;
  margin: -5px;
  padding: 0;
}

#sign-in {
  padding: 4px 14px;
  background: #4285f4;
  color: white;
  border: none;
}

button {
  cursor: pointer;
}

#search-types {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  height: 10px;
  margin: 70px auto 0px 125px;
}

.link-wrap {
  display: flex;
}

.search-link {
  font-size: 16px;
  padding: 5px 15px;
  color: black;
}

.search-link:hover {
  animation-name: color;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes color {
  0% {color: blue;}
  100% {color: blue;}
}

a {
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  font-family: arial, sans-serif;
  font-size: 13px;
}

hr {
  width: 100%;
}

section {
  margin-left: 125px;
  width: 700px;
}

.result {
  margin: 30px auto;
}

.url {
  padding-bottom: 5px;
}

.result-link {
  font-size: 22px;
  margin-left: -15px;
}

.result-link:hover {
  animation-name: underline;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes underline {
  0% {text-decoration: underline;}
  100% {text-decoration: underline;}
}

.result-description {
  padding-top: 5px;
}

label {
  font-size: 25px;
  padding: 15px auto;
}

#also-asked {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid lightgray;
  border-radius: 10px;
}

#question-label {
  padding: 15px 10px;
  font-size: 25px;
}

.question {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 15px 10px;
  border-top: 1px solid lightgray;
}

.feedback {
  display: block;
  text-align: right;
  margin: 5px 10px;
  font-style: italic;
}

#design-programs {
  margin-top: 25px;
  border: 1px solid lightgray;
  border-radius: 10px;
}

#program-label {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 15px 10px;
  margin-bottom: 15px;
}

#program-table {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.program {
  width: 100px;
  height: 160px;
  margin: auto -10px;
  padding: 1px;
  background-color: white;
  border: 1px solid lightgray;
}

#more-program {
  display: block;
  text-align: center;
  width: 300px;
  height: 30px;
  margin: 5px auto;
  line-height: 10px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 30px;
  font-size: 16px;
  color: #551a8b;
}

#other-search {
  display: flex;
  margin: 15px auto;
}

#next-search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
}

#next-search div {
  display: flex;
  flex-direction: column;
}

#next-search div p {
  margin-top: -24px;
  margin-left: 39px;
}

#next {
  background-color: white;
  border: none;
  color: #551a8b;
  margin-top: 10px;
}

.next-number {
  padding: 4px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  height: 50px;
  width: 100%;
  font-size: 14px;
  background: #f2f2f2;
}

#footer {
  width: 700px;
  margin-left: 125px;
}

footer a {
  color: black;
}

@media (max-width: 1100px) {
  body {overflow-x: auto;}
  #google-search {width: 1100px;}
  hr {width: 1100px;}
  footer {width: 1100px;}
}